*{
    margin: 0px;
    padding: 0px;

}

.container{
background-color:gray ;
padding: 20px;
display: flex;
align-items: center;
justify-content: space-around;



}
.logo{
    width: 150px;
    color: white;
    font-size: 30px;
}
.menu{
    color: white;
    list-style: none;
    display: flex;
}
.item{
    margin: 10px;
    padding: 7px;
    font-size: 18px;
}

.item:hover{
    color: blue;
}
.logo:hover{
    color: red ;
}

.main{
display: flex;
margin: 2px;
justify-content: center;
align-items: center;
background-image: url("download (1).jfif");
height: 100vh;


}

.bio{
    font-size: 20px;
    color: white;
}
.btn{
    width: 120px;
    height: 30px;
    background-color: red;
    border-radius: 5px;
    border: 0px;
    margin: 30px 0px 0px 0px;
    color: white;
    
}

.btn:hover{
    
    background-color: green;
}

.h1{
    font-size: 80px;
    align-items: center;
justify-content: center;
text-align: center;
padding: 15px;
}
.sec1{
    display: flex;
margin: 2px;
justify-content: center;
align-items: center;
}
.sec{

    display: inline;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.img{
    width: 300px;
}
.sec3{
background-image: url("./background.png"),linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53));
background-position: center;
background width: 100%;
background height:500px;
background-repeat: no-repeat;


}
.sec4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

.png{
    width: 60px;
    justify-content: center;

}

.Services{
    width: 230px;
    height: 280px;
    box-shadow: 4px 4px 15px gray;
    
    background-color:black;
    text-align: center;

    padding: 15px;
    color: white;
    align-items: center;

}

.h2{
    font-size: 60px;
    align-items: center;
justify-content: center;
text-align: center;
padding: 30px;
color: white;
border: 20px;
}
.btn2{
    width: 80px;
    height: 30px;
    background-color: blue;
    border-radius: 5px;
    border: 0px;
    margin: 20px 0px 0px 0px;
    color: white;
}

.btn2:hover{
    background-color: green;
}

.f{
    text-align:center;
    background-color: black;
    color: white;

}

.ls{
    background-color: black;
   
    display: flex;
    justify-content: space-around;

}

.ld{
    width: 230px;
    height: 200px;
   
    background-color:black;
    text-align: center;
    padding: 15px;
    color:gray;
    padding: 40px;
}
.ldl{
    width: 150px;
    color: white;
    font-size: 30px;
   
    border: 50px;
    padding: 80px;
}
